.no-page{
    display: flex;
    justify-content: center;
    
    .container{
        position: relative;
        .div-img,.no-page-title{
            display: flex;
            text-transform: uppercase;
            justify-content: center;
            width: 100%;
            margin-bottom: 20px;
            img{
                width: 40%;
            }
        }
        .btn{
            position: absolute;
            left: calc(50% - 68px);
            background-color: #a00421;
            border: none;
            border-radius: 20px;
            padding: 8px 24px;
            a{
                color: #ffffff;

            }
        }
    }
    
}