.add-product{
    margin: 20px 80px;
    display: flex;
    justify-content: center;
    min-height: 300px;
    .add-product-left{
        width: 40%;
        img{
            width: 100%;
            object-fit: fill;
            object-position: center;
        }
    }
    .add-product-right{
        min-width: 352px;
        .add-form-product-left{
            // display: none;
            display: none;
        }
        .row-form-add-product{
            display: block!important;
        }
        margin-left: 60px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        height: min-content;
        width:40%;
        padding: 12px 16px;
        border-radius: 8px;
        .card-title,.card-price{
            h5{
                font-size: 28px;
                word-wrap: break-word;
            }
        }
        .btn{
            width: 100%;
            padding: 12px 24px;
            background-color: #e4002b;
            border: none;
        }
    }
}
.watch-comment{
    background-color: #e4002b !important;;
}

   @media screen and (max-width:992px) {
    .add-product{
        .add-product-left{
            display: none!important;
        }
            .add-product-right{
                width: 100%;
                .row-form-add-product{
                    display: flex!important;
                    .add-form-product-left{
                        // display: none;
                        max-height: 135px;

                        display: flex!important;
                    }   
                } 
                .col-left{
                    width: 40%;
                    img{
                        width: 100%;
                    }
                }
                .col-right{
                width: 60%;
                }
            }
    }
   
}
