h2{
    margin-bottom: 25px;
    width: 100%;
}
.card-cart{
    margin-bottom: 12px;
    display: flex;
    width: 95%;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    .cart-img{
        width: 30%;
        img{
            width: 100%;    
            user-select: none;

        }

    }
    .cart-info{
            margin-left: 12px;
            width: 30%;
            .cart-info-action{
                display: flex;
                p{
                    margin-right: 12px;
                    
                    padding: 0;
                    border-bottom:1px solid black ;
                }
            }
    }
    .card-cart-action{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        position: relative;
        .fa-circle-minus,.fa-circle-plus,.quantity,.price{
            margin-right: 12px;
        }
        .fa-circle-minus,.fa-circle-plus{
            font-size: 36px;
            cursor: pointer;
        }
        .div-quantity{
            display: flex;
            margin-right: 60px;
            .quantity{
                user-select: none;
                margin-bottom:0 ;
                font-size: 18px;
                display: flex;
                align-items: center;
                font-weight: bold;
            }
        }
        .price{
            user-select: none;
            position: absolute;
            right: 0;
            min-width: 140px;
                font-size: 18px;
                display: flex;
                font-weight: bold;
            justify-content: flex-end;
        }
    }
}
