.img-history{
    display: flex;
    justify-content: center;
    position: relative;
    .content-first{
        position: absolute;
        width: 365px;
        left:calc(50% + 100px);
        top: calc(10% - 80px)
    }
    .content-second{
        position: absolute;
        width: 365px;
        left:calc(50% - 230px);
        top: calc(20% + 104px);
    }
    .content-third{
        position: absolute;
        width: 365px;
        right: calc(50% - 266px);
        top: calc(38% + 170px);
    }
    .content-fourth{
        position: absolute;
        width: 466px;
    right: calc(47% - 266px);
    top: calc(53% + 102px);

    }
    .content-fifth{
        position: absolute;
        width: 600px;
    right: calc(36% - 266px);
    top: calc(69% + 101px);

    }
}
.img-fluid{
    img{
        width: 100%;
    }
}
.content-title{
    text-align: right;
    flex-wrap: nowrap;
    p{
        padding-left: 484px;
    }
}
